.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 151px;
  height: 58px;
  font-weight: 700;
  background: transparent;
  font-family: pretendard;
}

.button span {
  margin-left: 10px;
}

.explore {
  color: white;
  border: 2px solid #5865f2;
}

.explore:hover {
  background: white;
  color: #5865f2;
}

.create {
  color: white;
  border: 2px solid #5865f2;
}

.create:hover {
  background: white;
  color: #5865f2;
}
